.container-SingIn{
  padding-top: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.auth-container{
  width: 100%;
  display: flex;
  justify-content: center;

}
.loginForm-container{
  margin: 10px 0 10px 0;
  height: 30px;
}