.container-new-page{
  width: 100%;
  //background-color: #eef9ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.title-new-page{
  //margin: 90px 0 30px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
   & span{
    color: #12d480;
  }
}