.header-container{
    width: 100%;
    height: 80px;
    background-color: #151727;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
};
.content{
  width: 1100px;
}
.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 200px;
  height: 40px;
}
.header-content{
  display: flex;
  justify-content: space-between;
}
.header-content-nav{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::after{
    content: '';
    height: 80px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.16);
  }

}
.header-list-navbar{
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}
.auth{
  position: absolute;
  left: 90%;
}
.exit{

    color: #12d480;

}
