.footer {
  height: 214px;
  background-color: #151727;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-style{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-footer{
  width: 600px;
  display: flex;
}
.title-footer{
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 20px;
}
.footer-link{
  margin: 10px 0 10px 0;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  color: #6c6c6c;
  &:hover{
    border-bottom: 1px solid #6c6c6c;
  }


}
.icon-footer {
  width: 48px;
  height: 48px;

  //background-color: #12d480;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #12d480;;
  border: 1px solid rgba(255, 255, 255, 0.15);
  &:hover{
    background-color: #12d480;
    color: white;
  }

}
.icon-footer-container{
  margin: 30px 0 0 0 ;
  width: 121px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.position-R{

  width: 400px;
}
.right{
  margin: 0 0 0 80px;
}
